<div class="navbar">
  <div class="options">
    <a href="<%= edit_user_path(current_user.id) %>"><%= image_tag("gear.png") %></a>
  </div>
  <div class="logo">
    <%= image_tag("t.gif", :class => "gif") %>
    <%= link_to "clother", root_path %>
  </div>
  <div class="deals">
    <%= image_tag("dollar_sign.png") %>
  </div>
</div>
